/*----------------------------Generel--------------------------*/

html {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: black;
}




body {

    margin: 0;
    padding: 0;

}

p {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
}

a {
    width: 100%;
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#topnav {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
}

#port {
    position: absolute;

}

#menu {


    background: #000;
    height: 10vh;
    width: 100vw;
}

#menuknap {



    position: absolute;
    top: 2vh;
    right: 2.5vw;
    color: white;
}

#menux {


    position: absolute;
    top: 2vh;
    right: 3vw;
    color: white;
}

#links {
    position: absolute;
    background-size: cover;
    z-index: 2;
    top: 10vh;
    right: 0vw;
    width: 30vw;
    height: 120vw;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    justify-content: space-around;
    border-radius: 0px 0px 0px 60px;
}

#home_link {
    text-align: end;
    color: white;
    padding: 1vw;
    margin: 2vw;
    border-bottom: 0.1vh solid white;
}

#tema2_link {
    text-align: end;
    color: white;
    padding: 1vw;
    margin: 2vw;
    border-bottom: 0.1vh solid white;
}

#tema3_link {
    text-align: end;
    color: white;
    padding: 1vw;
    margin: 2vw;
    border-bottom: 0.1vh solid white;
}

#tema4_link {
    text-align: end;
    color: white;
    padding: 1vw;
    margin: 2vw;
    border-bottom: 0.1vh solid white;
}

#tema5_link {
    text-align: end;
    color: white;
    padding: 1vw;
    margin: 2vw;
    border-bottom: 0.1vh solid white;
}


#logo_container {
    width: 100%;
}

#logo_sprite {
    z-index: 1;
    position: absolute;
    background-image: url(assets/logo_2.png);

    background-size: cover;
    top: 0vh;
    right: 65vw;
    width: 35vw;
    height: 9vh;
    padding: 0vw;
    border-radius: 0px 0px 0px 30px;
}

#tema2 {
    position: absolute;
    top: 40vw;
    left: 0vw;
    text-align: start;
    background-color: black;
    color: white;
    width: 70vw;

    padding: 3vw;

    border-bottom: 0.1vh solid white;
    border-radius: 30px 30px 30px 30px;

}

#tema3 {
    position: absolute;
    top: 50vw;
    left: 0vw;
    text-align: start;
    background-color: black;
    color: white;
    width: 70vw;

    padding: 3vw;

    border-bottom: 0.1vh solid white;
    border-radius: 30px 30px 30px 30px;

}

#tema4 {
    position: absolute;
    top: 60vw;
    left: 0vw;
    text-align: start;
    background-color: black;
    color: white;
    width: 70vw;
    padding: 3vw;

    border-bottom: 0.1vh solid white;
    border-radius: 30px 30px 30px 30px;

}

#tema5 {
    position: absolute;
    top: 100vw;
    left: 0vw;
    text-align: start;
    background-color: black;
    color: white;
    width: 70vw;

    padding: 3vw;

    border-bottom: 0.1vh solid white;
    border-radius: 30px 30px 30px 30px;

}


#pages {
    position: absolute;
    background-size: cover;
    background-color: #000;
    top: 0vw;
    width: 100%;

}

#start {
    position: absolute;
    top: 10vw;
    width: 100%;

}

#velkommen {
    position: absolute;
    background-size: cover;
    top: 10vw;
    left: 25vw;
    padding: 2vw;
    text-align: center;

}

#start_img {
    position: absolute;
    background-image: url(assets/logo_2.png);
    background-size: cover;
    top: 45vw;
    left: 16vw;
    width: 64vw;
    height: 38vw;
}

#start_txt {
    position: absolute;
    background-size: cover;
    top: 70vw;
    padding: 4vw;
    text-align: center;

}

#t2 {
    position: absolute;
    background-size: cover;
    width: 100vw;
    top: 0vw;
    padding: 0vw;

}

#t3 {
    position: absolute;
    width: 100%;
    top: 20vw;


}

#t4 {
    position: absolute;
    width: 100%;
    top: 20vw;


}

#t5 {
    position: absolute;
    width: 100%;
    top: 20vw;


}

#th2 {
    position: absolute;
    top: 71vw;
    left: 3vw;

    padding: 10vw;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    background-color: antiquewhite;
    z-index: 1;
    text-align: center;
    border-radius: 90vw;
    border: 1vw solid red;


}

#th3 {
    position: absolute;
    top: 0vw;
    left: 3vw;
    padding: 4vw;
    margin: 2vw;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    background-color: antiquewhite;
    z-index: 0;
    text-align: center;
    border-radius: 60vw;
    border: 1vw solid #000;


}

#th4 {
    position: absolute;
    top: 0vw;
    left: 10vw;
    padding: 4vw;
    margin: 2vw;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    background-color: antiquewhite;
    z-index: 0;
    text-align: center;
    border-radius: 60vw;
    border: 1vw solid #000;

}

#th5 {
    position: absolute;
    top: 0vw;
    left: 10vw;
    padding: 4vw;
    margin: 2vw;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    background-color: antiquewhite;
    z-index: 0;
    text-align: center;
    border-radius: 60vw;
    border: 1vw solid #000;

}

#t2_img {
    position: absolute;
    background-image: url(02_04_01_responsive_site_v2/stylepics/ide_3_v3.jpg);
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    top: 22vw;
    left: 0vw;
    padding: 0vw;
    z-index: 2;


}

#t2_img2 {
    position: absolute;
    background-image: url(02_04_01_responsive_site_v2/raygun3.jpg);
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    top: 610vw;
    left: 0vw;
    padding: 0vw;

}

#t3_img {
    position: absolute;
    background-image: url(assets/iPhone%20X-XS%20%E2%80%93%20Landing%20Page.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    top: 1280vw;
    left: 0vw;
    padding: 0vw;

}

#t3_img2 {
    position: absolute;
    background-image: url(assets/Dataindsamling_MortenF%C3%A4hrmannDehn_Page_3.png);
    background-size: cover;
    width: 89vw;
    height: 50vw;
    top: 880vw;
    left: 5vw;
    padding: 0vw;

}

#t4_img {
    position: absolute;
    background-image: url(spil/assets/figur_good.svg);
    background-size: cover;
    width: 80vw;
    height: 66.44vw;
    top: 40vw;
    left: 9vw;
    padding: 0vw;

}

#t4_img2 {
    position: absolute;
    background-image: url(assets/04_03_04_Statemachinediagram_MortenFDehn_Page_2.png);
    background-size: cover;
    width: 100vw;
    height: 74.2vw;
    top: 460vw;
    left: 0vw;
    padding: 0vw;

}

#t4_img3 {
    position: absolute;
    background-image: url(noegenpaanettet/assets/Startside.svg);
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    top: 760vw;
    left: 0vw;
    padding: 0vw;

}

#t5_img {
    position: absolute;
    padding: 2vw;

}

#t2_txt {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 101vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 14vw;
    color: #000;
    text-align: end;
    font-family: 'Marvel', sans-serif;
    border: 1vw solid red;


}

#t2_txt2 {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 660vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 14vw;
    color: #000;
    text-align: end;
    font-family: 'Marvel', sans-serif;
    border: 1vw solid red;
}

#t3_txt {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 80vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 14vw;
    color: #000;
    text-align: start;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;


}

#t3_husk {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 240vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;
}

#t3_nav {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 33vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;

}

#t3s1 {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 330vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;
}

#t3s2 {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 940vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;
}

#t3s3 {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 1505vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;
}

#t4_txt {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 180vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;


}

#t4_nav {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 101vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;
}

#t4s1 {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 550vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;
}



#t5_txt {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 101vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 18vw;
    color: #000;
    text-align: end;
    font-family: 'Permanent Marker', cursive;
    border: 1vw solid #000;

}

#t5_nav {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 101vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;
}

#t5s1 {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 330vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;
}

#t5s2 {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 940vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;
}

#t5s3 {
    position: absolute;
    background-size: cover;
    background-color: antiquewhite;
    top: 1505vw;
    width: 90vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 2rem;
    line-height: 10vw;
    color: #000;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border: 1vw solid #000;
    border-radius: 10vw;
}

#t5_klip1 {}

#t5_klip2 {}

#t5_klip3 {}

#t5_doku {}

#t5_side {}



#visitpage {
    position: absolute;
    top: 305vw;
    left: 8vw;
    background-color: #000;
    font-size: 2rem;
    padding: 2vw;
    width: 80vw;
    border-radius: 2vw;
    text-align: center;
}

#visitpage2 {
    position: absolute;
    top: 110vw;
    left: 8vw;
    background-color: #000;
    font-size: 1.2rem;
    padding: 2vw;
    width: 80vw;
    border-radius: 2vw;
    text-align: center;
    z-index: 2;

}

/*----------------------------animationer-------------------------*/

.skjul {
    display: none;
    pointer-events: none;
}



/*---------------------------Media query 1 -----------------------*/
@media only screen and (min-width: 770px) {
    a:hover {
        color: red;
    }

    #port {
        position: absolute;

    }



    #menu {
        display: none;
        pointer-events: none;

    }

    #menuknap {
        display: none;
        pointer-events: none;
    }

    #links {
        position: absolute;
        top: 0vw;
        left: 0vw;
        background-color: white;
        width: 90vw;
        height: 12vh;
        display: flex;
        z-index: 20;
    }

    #home_link {

        text-align: center;

        background-color: black;
        color: white;
        flex: 6;
        margin: 0vw;
        padding: 2vw;


        border-right: 0.1vw solid white;
        z-index: 20;

    }

    #tema2_link {

        text-align: center;



        background-color: black;
        color: white;
        flex: 6;
        margin: 0vw;
        padding: 2vw;

        border-right: 0.1vw solid white;
        border-left: 0.1vw solid white;
        z-index: 20;

    }

    #tema3_link {

        text-align: center;
        background-color: black;
        color: white;
        flex: 6;
        margin: 0vw;
        padding: 2vw;

        border-right: 0.1vw solid white;
        border-left: 0.1vw solid white;
        z-index: 20;


    }

    #tema4_link {

        text-align: center;



        background-color: black;
        color: white;
        flex: 6;
        margin: 0vw;
        padding: 2vw;

        border-right: 0.1vw solid white;
        border-left: 0.1vw solid white;
        z-index: 20;


    }

    #tema5_link {
        text-align: center;



        background-color: black;
        color: white;
        flex: 6;
        margin: 0vw;
        padding: 2vw;

        border-left: 0.1vw solid white;
        z-index: 20;

    }



    #logo_container {
        position: absolute;


    }

    #logo_sprite {
        z-index: 2;
        position: absolute;
        background-color: #000;
        background-image: url(assets/logo_2.png);
        background-size: cover;
        top: 0vw;
        left: 90vw;
        width: 14vw;
        height: 17vh;
        padding: 3vw;
        border-radius: 0px 0px 0px 30px;
        align-content: center;
    }

    #tema2 {
        position: absolute;
        top: 4vw;
        left: 18.1vw;
        height: 10vw;
        width: 30vw;
        padding: 3vw;
        background-color: #000;
        color: white;
        border-radius: 0px 0px 30px 30px;


    }

    #tema3 {
        position: absolute;
        height: 12.5vw;
        width: 30vw;
        top: 4vw;
        left: 30vw;
        padding: 3vw;
        background-color: #000;
        color: white;
        border-radius: 0px 0px 30px 30px;


    }

    #tema4 {
        position: absolute;
        height: 18vw;
        width: 30vw;
        top: 4vw;
        left: 42vw;
        padding: 3vw;
        background-color: #000;
        color: white;
        border-radius: 0px 0px 30px 30px;


    }

    #tema5 {
        position: absolute;
        height: 12vw;
        width: 30vw;
        top: 4vw;
        left: 60vw;
        padding: 3vw 3vw 3vw 3vw;
        background-color: #000;
        color: white;
        border-radius: 0px 0px 30px 30px;


    }

    /*---------------------pages-----------------*/
    #pages {
        position: absolute;
        top: 1vw;
        z-index: 0;

    }

    /*--------------------t2link-----------*/
    #t2link1 {}

    #t2link2 {}

    #t2doku {}

    /*--------------------t3link-----------*/




    #t3link1 {}

    #t3link2 {}

    #t3link3 {}

    #t3link4 {}

    #t3doku {}

    /*--------------------t4link-----------*/
    #t4link1 {}

    #t4link2 {}

    #t4link3 {}

    #t4link4 {}

    #t4link5 {}

    #t4doku {}

    /*--------------------t5link-----------*/
    #t5link1 {}

    #t5link2 {}

    #t5link3 {}

    #t5doku {}

    #start {
        position: absolute;
        top: 12vw;
    }

    #velkommen {
        position: absolute;
        top: 2vh;
        justify-content: center;
    }



    #start_img {

        top: 20vh;
        z-index: 1;

    }

    #start_txt {
        position: absolute;
        top: 40vw;
        text-align: center;
        background-size: cover;
    }

}
